# folders
or-tools-stable
source_julia
FirstOrderLp.jl
x64

# configuration folder
.vscode
.vs/
build/
debug/

# data folder
data/

# log folder
log/

# data folder
data/

# files
*.exe
test*
*.gz

HP
