# folders
or-tools-stable
source_julia
FirstOrderLp.jl
x64

# configuration folder
.vscode
.vs/
build/
debug/

# data folder
data/

# log folder
log/

# output
output/

# cache
cache/

scripts/
table/

# files
*.exe
test*
*.gz

HP
